@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$tab-color: #ffff;
$sky-blue: #66bfbf;
$robot0400: 'Roboto';

body {
    font-family: $robot0400  !important;
}

#edit-tabs {
    .nav-tabs {
        background: transparent !important;
        box-shadow: none;
        border-radius: 0 0 8px 0;
        margin-bottom: 5px;
        // max-width: 99% !important;
        // width: max-content !important;
        border-color: transparent;
        font-family: $robot0400;
    }

    .nav-tabs .nav-link {
        padding: 0.5rem !important;
        border-color: transparent;
        //   width: fit-content;
        //  min-width: 130px;
        color: rgba(255, 255, 255, 0.795);
        // font-weight: bold;
        font-size: 1.2rem;
        margin: 0 1rem;
        letter-spacing: .1rem;
    }

    .nav-tabs .nav-link.active {
        background-color: transparent;
        color: $tab-color;
        // border-color: $tab-color;
        border-bottom: 3px solid $tab-color;
        font-size: 1.3rem;
    }

    .nav-tabs .nav-item.active::after {
        display: block;
        content: "";
        height: 4px;
        background: #000;
        position: relative;
        margin-left: 1rem;
        margin-right: 1rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .nav-tabs .nav-item:hover {
        border: none;
        background: #eaeaea48;
        transition: 0.6s ease all;

        .nav-link {
            color: $tab-color;

        }
    }
}

.hero-section {
    background: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg) no-repeat;
    background-size: cover;

    .intro {
        display: flex;
        justify-content: stretch;
        align-items: center;
        flex-direction: column;
        padding: 3rem 0;

    }
}

.counter {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $sky-blue;
}